{% extends "base.html" %}
{% load i18n %}

{% block titol-pagina %}{% trans "Log in" %}{% endblock titol-pagina %}

{% block contingut %}
<div class="compte">

	<form method="post" action="{% url comptes-login %}">
		{% csrf_token %}

    {{ form.as_p }}

		<div class="submit">
			<input type="submit" value="{% trans "Log in" %}" />
		</div>
		<input type="hidden" name="next" value="{% url inici %}" />
	</form>

	<h4>{% trans "Forgotten password?" %}</h4>
		
	<p>
	{% trans "If you've forgotten your password," %} <a href="{% url comptes-restablir-contrasenya %}">{% trans "click here to reset it" %}</a>.
	</p>

	<h4>{% trans "Don't have an account?" %}</h4>

	<p>
  {% trans "You can" %} <a href="{% url comptes-registre %}">{% trans "sign up for an account" %}</a> now.
	</p>
</div>
{% endblock contingut %}
