{% extends "base.html" %}
{% load i18n %}

{% block "titol-pagina" %}{% trans 'Reset password' %}{% endblock "titol-pagina" %}


{% block "contingut" %}

<h4>{% if validlink %}{% trans 'Enter new password' %}{% else %}{% trans 'Password reset unsuccessful' %}{% endif %}</h4>

{% if validlink %}
	<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

	<form action="" method="post">
		{% csrf_token %}
		{% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}

		<div class="camp-compte">
			<label for="id_new_password1">{% trans "Password" %}:</label>
			<input id="id_new_password1" type="password" name="new_password1" maxlength="30" />
		</div>
		<!--<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>-->
		{% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}

		<div class="camp-compte">
			<label for="id_new_password2">{% trans "Confirm password" %}:</label>
			<input id="id_new_password2" type="password" name="new_password2" maxlength="30" />
		</div>
		<!--<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>-->
		<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
	</form>
{% else %}
	<p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
{% endif %}

{% endblock "contingut" %}

