{% load i18n %}

<div class="temes">
{% for tema in temes %}
	<div class="tema">
		<h4>{{ tema.titol }}</h4>

		<p class="organitzadors">
			<strong>{% trans "Co-ordinators" %}:</strong> {{ tema.organitzadors_html|safe }}
		</p>

		<p>
			<a href="{{ tema.get_absolute_url }}">{% trans "Details" %}</a>.
		</p>

		<ol class="tema-xerrades">
			{% for xerrada in tema.xerrades.all %}
			<li><a class="titol" href="{% url "seminari-xerrada-detall" seminari_slug=seminari.slug xerrada_id=xerrada.id %}">{{ xerrada.titol }}</a><br />
			<span class="icons-xerrada">
				{% if xerrada.presentacio %}<a href="{{ MEDIA_URL }}{{ xerrada.presentacio }}" title="{% trans 'Download presentation' %}"><i class="fa fa-file-powerpoint-o"></i></a>{% endif %}
				{% if xerrada.article %}<a href="{{ MEDIA_URL }}{{ xerrada.article }}" title="{% trans 'Download article' %}"><i class="fa fa-file-o"></i></a>{% endif %}
			</span>
			<span class="presentadors">{{ xerrada.presentadors_html|safe }}</span></li>
			{% endfor %}
		</ol>
	</div>
{% endfor %}
</div>

