{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block titol-pagina %}{{ seminari.nom }}{% endblock titol-pagina %}

{% block contingut %}
<p>
	{{ seminari.descripcio }}
</p>

<ul>
	<li><a href="#temes">{% trans "Themes" %}</a></li>
	<li><a href="#calendari">{% trans "Calendar" %}</a></li>
	{% if seminari.programa_pdf %}<li><a href="{{ MEDIA_URL }}{{ seminari.programa_pdf }}">{% trans "Download programme" %}</a></li>{% endif %}
</ul>

<a name="dates"></a>
<h3>{% trans "Dates" %}</h3>

<p>
	{{ seminari.duracio|capfirst }}
</p>

<a name="lloc"></a>
<h3>{% trans "Location" %}</h3>

<p>
	{{ seminari.lloc }}
</p>

<a name="organitzadors"></a>
<h3>{% trans "Organising committee" %}</h3>

<p>
	{{ seminari.organitzadors_html|safe }}
</p>

<a name="temes"></a>
<h3>{% trans "Themes" %}</h3>

{% if seminari.temes.all %}
{% include "seminaris/_seminari_temes.html" with temes=seminari.temes.all %}
{% else %}
<p><em>{% trans "Themes have not yet been chosen." %}</em></p>
{% endif %}

{% if seminari.presentadors_comunicacions_html %}
<a name="comunicacions"></a>
<h3>{% trans "Communications" %}</h3>

<p>{{ seminari.presentadors_comunicacions_html|safe }}</p>
{% endif %}


<a name="calendari"></a>
<h3>{% trans "Calendar" %}</h3>

{% if seminari.calendari_definit %}
{% include "seminaris/_seminari_calendari.html" with dies=seminari.dies.all %}
{% else %}
<p><em>{% trans "The calendar has not yet been set." %}</em></p>
{% endif %}

{% endblock contingut %}
