{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block titol-pagina %}{{ seminari.nom }}{% endblock titol-pagina %}

{% block contingut %}
<p>
	{{ seminari.descripcio }}
</p>

<ul>
	<li><a href="#temes">{% trans "Themes" %}</a></li>
	<li><a href="#calendari">{% trans "Calendar" %}</a></li>
</ul>

<a name="dates"></a>
<h3>{% trans "Dates" %}</h3>

<p>
	{{ seminari.duracio|capfirst }}
</p>

<a name="lloc"></a>
<h3>{% trans "Location" %}</h3>

<p>
	{{ seminari.lloc }}
</p>

<a name="temes"></a>
<h3>{% trans "Themes" %}</h3>

{% include "seminaris/_seminari_temes.html" with temes=seminari.temes.all %}

<a name="calendari"></a>
<h3>{% trans "Calendar" %}</h3>

{% include "seminaris/_seminari_calendari.html" with dies=seminari.dies.all %}

{% endblock contingut %}
