-e git+git://github.com/hds/django-hvad.git#egg=hvad
Django==1.5.4
mysql-python
pil
pycrypto
raven
south
django-admin-bootstrapped
django-email-as-username
django-tinymce
gunicorn
gevent
johnny-cache
python-memcached
