{% load i18n %}

	<div id="llengua-formulari">
		<ul>
			<a id="editar-ca" class="editar-lleng" href="javascript:EditarLlengua.canviar_llengua('ca')"><li class="left">{% trans "Catalan" %}</li></a>
			<a id="editar-es" class="editar-lleng" href="javascript:EditarLlengua.canviar_llengua('es')"><li class="middle">{% trans "Spanish" %}</li></a>
			<a id="editar-en" class="editar-lleng" href="javascript:EditarLlengua.canviar_llengua('en')"><li class="right">{% trans "English" %}</li></a>
		</ul>
	</div>
