{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block titol-head %}{% trans "Home" %}{% endblock titol-head %}
{% block titol-pagina %}{% trans "Seminari de Teoria de Nombres Barcelona" %}{% endblock titol-pagina %}

{% block microalerta %}{% include "noticies/_microalertes.html" %}{% endblock microalerta %}

{% block contingut %}
<div class="introduccio">{% blocktrans %}
	This is a very brief introduction explaining what STNB is.
{% endblocktrans %}</div>

<div class="noticies-llista noticies-ultimes">

<h3>{% trans "Latest news" %}</h3>

{% for noticia in noticies %}
	<div class="noticia">
		<h4>{{ noticia.titol }}</a></h4>
		<div class="data">{{ noticia.data }}</div>
		<div class="descripcio">
			{{ noticia.descripcio }}
		</div>

	</div>

{% endfor %}
</div>

{% endblock %}


