{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as lang %}
{% get_current_language_bidi as lang_bidi %}
{% block dummy %}{% endblock dummy %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ lang }}" lang="{{ lang }}">
	<head>
		<meta charset="utf-8" />
		<title>STNB - {% trans "Seminari de Teoria de Nombres de Barcelona" %} - {% block titol-head %}2014{% endblock titol-head %}</title>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,700|Oswald:400,700' rel='stylesheet' type='text/css'>
		{% block stylesheets %}<link rel="stylesheet" media="screen" type="text/css" href="{{ STATIC_URL }}css/stnb-main.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>{% endblock stylesheets %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-2.0.3.min.js"></script>
		{% block extra-head %}{% endblock extra-head %}
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			MathJax.Hub.Config({
			  tex2jax: {
			    inlineMath: [['$','$'], ['\\(','\\)']],
			    processEscapes: true
			  }
			});
		</script>
    {{ ganalytics_js }}
	</head>
	<body class="{% block body-class %}lleng-{{ lang }}{% endblock body-class %}">
		<div id="stnb-outer-wrap">
			<div id="navigation" class="main-block">

				<div id="site-titles">
					<h1 class="site-title"><a href="{% url "inici" %}">STNB</a></h1>
				</div>

				<div id="menu">
					<ul>
						<li><a class="inici" href="{% url "inici" %}">{% trans "Home" %}</a></li>
						<li><a class="seminari-actual" href="{% url "seminari-actual" %}">{% trans "Current<br />Seminar" %}</a></li>
						<li><a class="calendari" href="{% url "calendari" %}">{% trans "Calendar" %}</a></li>
						<li><a class="arxiu" href="{% url "arxiu" %}">{% trans "Archive" %}</a></li>
						<li><a class="sobre-stnb" href="{% url "pagina-plana" slug='sobre-stnb' %}">{% trans "About<br />STNB" %}</a></li>
						<li><a class="miembres" href="{% url "membre-llista" %}">{% trans "Members" %}</a></li>
					</ul>
				</div>

			</div>

			<div class="content-wrap main-block">
				<div id="inner-content-wrap">
					<h2>{% block titol-pagina %}Seminari de Teoria de Nombres de Barcelona{% endblock titol-pagina %}</h2>
					
					{% block microalerta %}{% endblock microalerta %}
					
					{% block contingut %}
					<div class="extended-text">
						<p>
							Let $K$ be a number field with $\mathfrak{O}_{K}$ its ring of integers.
							Aquia quid mo quia as moluptas quis rem que omnime dolendi nonet es ea consequatis es incipsam cus solore num quiam ea cum faces imagnam harum velitas platent, sum fugiae volor maios explabor sim imus.
						</p>
		
						<p>
							<span class="stnb">The 2014 Seminar</span> exerum et audio eumquidio. Eveliti quatem sit il iditam ea si officim olen- ducid qui ommodit is simuscidelit verionsequam di nobis sandi cum et abo.
						</p>
		
						<p>
							Et que ditatem hil ilignis ut lacider speraerest earum quianih illam, que perferferro eseque nonsequi aut asinto bea volupti od utet auda quate sectium faccum facepra que iundaerro iusaped qui autae nus ad ma experesed que magnis eaquiae nis seditae.
						</p>
		
						<p>
							Illore cus eati atur aboreperum vel inihiti iscita arit invel magnis es ere, quiamus et quiamen torereriatem qui repedis ad ullabore es eos aut aliae odigenimo od quam voluptatios si ip- sam, aligendam quam illaborro mollab ipsam, te odiscias adigenissus elicturias estioriosse quidenim dolorerae dolorro tem as aut volut lab imi.
						</p>
					</div>
					{% endblock contingut %}
				</div>
			</div>

			<div id="secondary-column">
				<!--<div id="search">
					<div class="outer">
						<input class="search-box" type="text" name="q" value="Search" />
					</div>
				</div>-->
				{% block stnb-logo %}
				<div id="stnb-logo">
					<img src="{{ STATIC_URL }}img/tnb-rectangle.png" alt="Teoria de Nombres de Barcelona" border="0" />
				</div>
				{% endblock stnb-logo %}
				
				<div id="account" class="block">
					<div class="title">{% trans "Account " %}</div>
					<ul>
					{% if user.is_authenticated %}
						<li><a href="{% url "membre-detall" slug=user.get_profile.slug %}">{% if user.get_profile.nom_complet %}{{ user.get_profile.nom_complet }}{% else %}{% trans "Profile page" %}{% endif %}</a></li>
						{% if user.is_staff %}<li><a href="{% url "admin:index" %}">{% trans "Admin console" %}</a></li>{% endif %}
						<li><a href="{% url "comptes-logout" %}">{% trans "Logout" %}</a></li>
					{% else %}
						<li><a href="{% url "comptes-login" %}">{% trans "Log in" %}</a></li>
					{% endif %}
					</ul>
				</div>
				
				<div id="institution-links" class="block">
					<div class="title">{% trans "Links" %}</div>
					<ul>
						<li><a target="_blank" href="http://www.ub.edu/">Universitat de Barcelona</a></li>
						<li><a target="_blank" href="http://www.uab.es/">Universitat Aut&oacute;noma de Barcelona</a></li>
						<li><a target="_blank" href="http://www.upc.edu/">Universitat Polit&eacute;cnica de Catalunya</a></li>
						<li><a target="_blank" href="http://www.crm.es/">Centre de Recerca Matem&aacute;tica</a></li>
						<li><a target="_blank" href="http://www.imub.ub.es/">Institut de Matemàtica de la UB</a></li>
						<li><a target="_blank" href="http://www.bgsmath.cat/">Barcelona Graduate School of Mathematics</a></li>
						<li><a target="_blank" href="http://www.ub.edu/tn/">Number Theory Research Group @ UB</a></li>
						<li><a target="_blank" href="http://recerca.upc.edu/tn/">Number Theory @ UPC</a></li>
					</ul>
				</div>
			</div>

			<div id="language-chooser">
				<div class="title">{% trans "Languages" %}:</div>
				<ul>
					<li><a class="llengua ca{% if lang == "ca" %} current{% endif %}" href="/setlang/?language=ca&next={{ redirect_to }}">Català</a></li>
					<li><a class="llengua es{% if lang == "es" %} current{% endif %}" href="/setlang/?language=es&next={{ redirect_to }}">Castellano</a></li>
					<li><a class="llengua en{% if lang == "en" %} current{% endif %}" href="/setlang/?language=en&next={{ redirect_to }}">English</a></li>
				</ul>
			</div>
			
			<div id="footer">
        {% trans "Copyright STNB" %} {% now "Y" %}, {% trans "some rights reserved" %}.
			</div>
		</div>
	</body>
</html>
