{% extends "base.html" %}
{% load i18n %}

{% block titol-head %}{% trans "Member profile" %}{% endblock titol-head %}
{% block titol-pagina %}{% trans "Member profile" %}{% endblock titol-pagina %}

{% block contingut %}
<div class="compte">
	
	<div class="compte-foto">
		{% if membre.foto %}
		<img src="{{ MEDIA_URL }}{{ membre.foto_petita }}" alt="{% trans "profile photo of" %} {{ membre.nom_complet }}" border="0" /> 
		{% endif %}
	</div>

	<h3>{{ membre.nom_complet }}</h3>

	{% if user.get_profile == membre %}
	<p>{% trans "This is you." %}</p>
	{% if membre.amagar_perfil %}<p>{% trans "Your profile is hidden, only you can see it." %} {% trans "You can" %} <a href="{% url "membre-actualitzar" slug=membre.slug %}">{% trans "update your profile" %}</a> {% trans "to change this." %}</p>{% endif %}
	{% endif %}

	<h4>{% trans "Email" %}:</h4>

	<p>{% if user.is_authenticated %}{{ membre.user.email }}{% else %}{% trans "Please log in to see member email addresses." %}{% endif %}</p>

	{% if membre.enllac %}
	<h4>{% trans "Link" %}</h4>

	<p><a href="{{ membre.enllac_a }}">{{ membre.enllac }}</a></p>
	{% endif %}

	{% if membre.text_qualsevol_llengua %}
	<h4>{% trans "Profile" %}</h4>

	<p>{{ membre.text_qualsevol_llengua|safe }}</p>
	{% endif %}

	{% if user.get_profile == membre %}<p class="edit"><a href="{% url "membre-actualitzar" slug=membre.slug %}">{% trans "Edit your profile" %}</a>.</p>{% endif %}

</div>
{% endblock contingut %}
