{% extends "base.html" %}
{% load i18n %}

{% block extra-head %}{{ form.media }}{% endblock extra-head %}

{% block titol-head %}{% trans "Update member profile" %}{% endblock titol-head %}
{% block titol-pagina %}{% trans "Update member profile" %}{% endblock titol-pagina %}

{% block contingut %}
<div class="membre-actualitzar actualitzar">

	<div id="llengua-formulari">
		<ul>
			<a href="#"><li class="left">{% trans "Catalan" %}</li></a>
			<a href="#"><li class="middle">{% trans "Spanish" %}</li></a>
			<a href="#"><li class="right">{% trans "English" %}</li></a>
		</ul>
	</div>

	<form method="post" action="{% url "membre-actualitzar" slug=form.instance.slug %}" enctype="multipart/form-data">
		{% csrf_token %}


		{{ form.as_p }}

		<div class="submit">
			<input type="submit" value="{% trans "Update" %}" /> <a href="{% url "membre-detall" slug=form.instance.slug %}">Cancel</a>
		</div>
	</form>

</div>
{% endblock contingut %}
