/* **** BEGIN: Reset **** */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* **** END: Reset **** */

/* **** BEGIN: Outer level **** */

body  {
	color: #333;
	background: #e4e4e5 url(../img/background-dot.png) repeat-y 0 0;
}

body,
form input,
form select,
form textarea  {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12pt;
	letter-spacing: 0.085em;
}

#stnb-outer-wrap  {
	position: relative;
	width: 1110px;	
}

#stnb-outer-wrap .main-block  {
	float: left;
}

#navigation  {
	width: 150px;
}

.content-wrap  {
	width: 680px;
	margin: 30px 20px 20px 20px;
	padding: 0 40px 0 0;
}

#secondary-column  {
	width: 170px;
	float: left;
	margin: 30px 20px 20px 10px;
}


/* **** END: Outer level **** */

/* **** BEGIN: Titles **** */

/*#site-titles  {
	width: 220px;
	background: none #5f5f5f;
}*/

#site-titles h1, #site-titles .year, #menu li, .content-wrap h2  {
	font-family: 'Oswald', sans-serif;
}

#site-titles h1, #site-titles .year  {
	letter-spacing: 0.085em;
	font-size: 24pt;

	display: table;
	margin: 8px 8px 8px 26px;
}

#site-titles h1 a, #site-titles .year a {
/*	color: #232323;
	font-size: 58pt;
	font-weight: bold;
	text-align: center;*/
	display: block;
	width: 90px;
	height: 90px;
	
	border-radius: 50%;
	background: #425716 none;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#site-titles h1 a  {
/*	font-size: 22pt;*/
	background-color: #333;
}

#site-titles .year a  {
/*	font-size: 22pt;*/
	background-color: #1e660e;
}

#site-titles .active-year  {
	color: #f26813;
}

.content-wrap h2, .content-wrap h3, .content-wrap h4  {
	font-family: "Oswald";
	font-weight: 700;
	color: #333;
}

.content-wrap h2  {
	font-size: 30px;
	margin: 10px 0 30px 0;
}

.content-wrap h3  {
	font-size: 18px;
	margin: 34px 0 16px 0;
}

.content-wrap h4  {
	font-size: 15px;
	margin: 24px 0 14px 0;
}


/* **** END: Titles **** */

/* **** BEGIN: Links **** */

.content-wrap a, #secondary-column a  {
	color: #ff6600;
	text-decoration: none;
}

.content-wrap a:hover, #secondary-column a:hover  {
	/*color: #6B7627;*/
	text-decoration: underline;
}

/* **** END: Links **** */

/* **** BEGIN: Navigation **** */

#menu ul  {
	margin-top: 20px;
}

#menu li  {
	letter-spacing: 0.105em;
	font-size: 12pt;
	line-height: 18pt;

	list-style: none;
	display: table;
	margin: 8px 8px 8px 26px;
}

#menu li a  {
	width: 90px;
	height: 90px;
	
	border-radius: 50%;
	background: #425716 none;
	color: #fff;
	text-decoration: none;
	
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#menu .inici  {
	background-color: #993300;
}

#menu .seminari-actual  {
	background-color: #cc6633;
}

#menu .calendari  {
	background-color: #ff6600;
}

#menu .arxiu  {
	background-color: #ff9966;
	/*background-color: #4b8f95;*/
}

#menu .sobre-stnb  {
	background-color: #999999;
}

#menu .miembres  {
	background-color: #666666;
}

/* Language specific tweeks */
.lleng-es #menu .arxiu-seminaris  {
	font-size: 80%;
}

/* **** END: Navigation **** */

/* **** BEGIN: Secondary Column **** */

#search .outer  {
	width: 140px;
	
	height: 20px;
	border-radius: 10px;
	background: #fff none;
	
	padding: 0 10px 0 10px;
}

#search .search-box  {
	width: 130px;
	border: none;
	background: transparent none;
	color: #999;
}

#secondary-column .block  {
	margin: 20px 0 20px 0;
}

#secondary-column .block li  {
	margin: 8px 0 8px 16px;
}

#secondary-column .block li a  {
	font-size: 11pt;
/*	text-decoration: none;
	color: #666;*/
}

/*#institution-links li a:hover  {
	text-decoration: underline;
}*/

/* **** END: Secondary Column **** */

/* **** BEGIN: Languages **** */

#language-chooser  {
	position: fixed;
	bottom: 0;
	left: 0;
	
	width: 100%;
	background: #e4e4e5 none;
	font-size: 10pt;
}

#language-chooser .title, #language-chooser li  {
	float: left;
	padding: 6px 2px 16px 12px;

	color: #666;
}

#language-chooser .title  {
	font-weight: 700;
}

#language-chooser li  {
	float: left;
	margin: 0 2px 0 8px;
	border-left: 1px solid #fff;
}

#language-chooser li a  {
	text-decoration: none;
	color: #666;
}

#language-chooser li a:hover, #language-chooser li a.current  {
	text-decoration: underline;
}

/* **** END: Languages **** */

/* **** BEGIN: Footer **** */

#footer  {
	clear: both;
	padding: 40px 0 40px 0;
	
	color:  #666;
	font-size: 10pt;
	text-align: center;
}

/* **** END: Footer **** */

/* **** BEGIN: Main Content **** */

.content-wrap .microalertes  {
	background: #cc6633 none;
	padding: 8px 4px 8px 4px;
	margin: 10px 0 20px 0;
	border-radius: 16px;
	
	text-align: center;
}

.content-wrap p {
	margin: 10px 0 6px 0;
	line-height: 1.4;
}

.content-wrap strong  {
  font-weight: 700;
}

.content-wrap .extended-text p {
	margin: 20px 0 20px 0;
}

.content-wrap li  {
	margin: 14px 0 14px 0;
	font-size: 16px;
	line-height: 21px;
}

.content-wrap li a.titol, .content-wrap .dia-items .titol  {
	color: #333;
}

.content-wrap li .icons-xerrada  {
	width: 44px;;
	display: inline-block;
}

.content-wrap ol  {
	list-style: decimal;
	padding-left: 40px;
}

.content-wrap em  {
	font-style: italic;
}

.content-wrap .noticies  {
	
}

.content-wrap .noticia h3  {
	margin-bottom: 6px;
}

.content-wrap .noticia .data  {
	color: #333;
	font-size: 11px;
}

.content-wrap .noticia .descripcio  {
	margin: 10px 0 18px 0;
	line-height: 16pt;
}

.content-wrap .noticia .descripcio li  {
	margin: 6px 0 6px 0;
}

.content-wrap .noticia .descripcio ul  {
	list-style: disc;
	padding-left: 40px;
}

.content-wrap .pagina-plana p  {
  margin: 10px 0 18px 0;
}

/* **** END: Main Content **** */


/* ******** SPECIFIC PAGES ******** */

/* **** BEGIN: Login/Logout **** */

.compte p, .camp-compte  {
	margin: 14px 0 14px 0;
}

.registre input#id_cognoms, .registre input#id_email  {
	margin-bottom: 28px;
}

.compte p label, .compte p input, .camp-compte label, .camp-login input  {
	display: block;
}

.compte p label, .camp-compte label  {
	font-size: 10.5pt;
}

.compte p input, .camp-compte input  {
	margin: 4px 0 4px 0;
	
	width: 340px;
	height: 28px;
	
	font-size: 13pt;
}

.compte p input[type=file]  {
	font-size: 12pt;
}

.compte p input.year-field  {
	width: 80px;
}

.compte .submit input  {
/*	width: 60px;*/
	margin-top: 16px;
	height: 40px;
	
	font-size: 14pt;
}

.compte .compte-foto  {
	float: right;
	margin: 0 0 40px 40px;
}

.compte .errorlist, .compte-errors  {
	color: #A94F0D;
}

.content-wrap .compte .edit  {
	margin-top: 26px;
}

.content-wrap .back-link  {
	margin-top: 30px;
}

.content-wrap .temes .organitzadors  {
	font-size: 11pt;
}

/* **** END: Login/Logout **** */

/* **** BEGIN: Member pages **** */

.membre-llista .membre  {
	padding: 20px 0 30px 0;
	clear: left;
}

.membre-llista .membre-info, .membre-llista .membre-foto  {
	float: left;
}

.membre-llista .membre-foto .membre-sense-foto  {
	width: 100px;
	height: 100px;
	border: 1px dashed #999;
}

.membre-llista .membre-info  {
	margin-left: 20px;
}

.content-wrap .membre-llista .membre-info h4  {
	margin: 8px 0 8px 0;
}

.content-wrap .membre-llista .membre-info p  {
	margin: 4px 0 4px 0;
}

/* **** END: Member pages **** */

/* **** BEGIN: Forms **** */

.actualitzar label,
.actualitzar input[type="submit"],
.actualitzar input[type="file"],
.actualitzar input[type="checkbox"]  {
	display: inline;
}

.actualitzar input,
.actualitzar select,
.actualitzar textarea  {
	display: block;
}

.actualitzar p,
.actualitzar label  {
	font-size: 10.5pt;
}

.actualitzar input,
.actualitzar select,
.actualitzar a,
.actualitzar textarea  {
	font-size: 12pt;
}


.actualitzar textarea  {
	width: 582px;
	height: 294px;
}

/* **** END: Forms **** */

/* **** BEGIN: Form language select **** */

#llengua-formulari a li  {
	float: left;
	width: 90px;
	height: 18px;
	padding-top: 2px;
	margin: 4px 2px 16px 0;
	text-align: center;
	font-size: 90%;
	color: #fff;
	background: none #f60;
}

#llengua-formulari a:hover li  {
	background-color: #c63;
}

#llengua-formulari a.actiu li  {
	background-color: #930;
}

#llengua-formulari li.left  {
	border-top-left-radius: 11px;
	border-bottom-left-radius:  11px;
}

#llengua-formulari li.middle  {
}

#llengua-formulari li.right  {
	border-top-right-radius: 11px;
	border-bottom-right-radius:  11px;
}

body.multillengua form  {
	clear: left;
}

.membre-actualitzar form  {
	clear: left;
}

/* **** END: Form language select **** */


#survey .sbody, .squestioninput table th, .squestioninput table td  {
	background-color: transparent;
}
