
body  {
	font-family: Helvetica, sans-serif;
}

#site-titles  {
	width: 220px;
	background: none #5f5f5f;
}

#site-titles h1, #site-titles .year  {
	color: #232323;
	font-size: 58pt;
	font-weight: bold;
	text-align: center;
	padding: 0;
	margin: 0;
}

#site-titles .active-year  {
	color: #f26813;
}

#site-titles h2  {
	color: #ffffff;
	font-size: 14pt;
	padding: 0;
	margin: 0;
}

